---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/DemoPost.astro';

const posts = await getCollection('demo');
type Props = CollectionEntry<'demo'>;

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</BlogPost>