<div
  class="container"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="header item-2 logo" fxFlex="18%">Fit Fusion</div>
  <button class="border header item-5 nav-buttons" mat-button>Home</button>
  <button class="border header item-5 nav-buttons" mat-button>Services</button>
  <button class="border header item-5 nav-buttons" mat-button>Schedules</button>
  <button class="border header item-5 nav-buttons" mat-button>Trainers</button>
  <button class="border header item-4 nav-buttons" mat-button>Profile</button>
</div>
<h1>Wellcome</h1>
<div
  class="container"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="25%" class="border">
    <h1>New Blog post</h1>
    <img class="fitured-blog" src="assets\img\blog1.jpg" />
    <a>Why Women Over 30 Should Try CrossFit</a>
  </div>
  <div fxFlex="30%" class="border item-2">
    <div class="item-2">
      <h1>Fitness Schedules</h1>
    </div>
    <div class="item-5">
      <a>CrossFit -></a><br />
      <a>Yoga -></a><br />
      <a>Somthing -></a><br />
      <a>Swimming -></a><br />
    </div>
  </div>
  <div class="border item-4" fxFlex="30%">
    <h1>Our Trainers</h1>
    <div class="trainer-list" >

    </div>
    <div class="trainer-img">
    <img class="fitured-blog crop" src="assets\img\trainer.jpg" />
  </div>
  </div>
</div>
