<div class="grid">
  <mat-grid-list cols="2" rowHeight="2:2">
    <!-- <div class="card-holder" fxLayout="row wrap" fxLayoutGap="20px"> -->
    <mat-grid-tile class="title">
      <div>
        Hello, I`m Ivo, a web developer. >Crafting Digital Excellence:
        Transforming Ideas into Engaging Websites.
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img
        mat-card-image
        src="https://i.pinimg.com/564x/01/8e/73/018e73b515b25cbba0efc02463cb5627.jpg"
      />
    </mat-grid-tile>
    <br />
    <!-- <div class="line-title">Webs Projects</div> -->
    <br />
    <div
      fxFlex="1 1 auto"
      fxLayout="row"
      *ngFor="let card of projectList"
      class="project-card"
    >
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{ card.name }}</mat-card-title>
            <mat-card-subtitle>{{ card.description }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ card.img }}" />
        </mat-card>
      </mat-grid-tile>
    </div>
    <!-- </div> -->
  </mat-grid-list>
</div>
