.hello-card {
  padding: 2%;
  width: 40%;
  background: linear-gradient(to top left, #fbe4d8, #854f5c);
}
.headshot-card {
}
/* Example usage of a serif font */
.title {
  font-family: Georgia, Times New Roman, serif;
  font-size: 48px;
  line-height: 1.2;
  padding: 5%;
}

.subtitle {
  color: black;
  padding: 5%;
}
.card-holder {
  justify-content: center;
  padding: 8%;
}
.project-card {
}
.project-card-holder {
  justify-content: center;
}

.clor-pralet {
  background-color: #fbe4d8;
  background-color: #854f5c;
  background-color: #522b5b;
}
