<div class="dialog">
  <div class="center">
    <div class="title">
      <h1 class="h-text">Ticket Flow</h1>
    </div>
    <div class="stack">
      <a class="steck-item">Spring boot</a>
      <a class="steck-item">Java Script</a>
      <a class="steck-item">PosgreSQL</a>
    </div>
    <div class="period">From: 01.March.2023 To: 14.June.2023</div>
    <div class="content">
      <p>
        Tickt Flow is an all-in-one solution for seamless ticketing and queue
        management and reservations. Written as a batch, this is Ticket flow
        constructed a MVC application. Beeing is constructed with a spring boot
        as the back end, with Posgresql as the database and Vanila JavaScript
        for the front end.
      </p>
    </div>

    <div class="gallery">
      <button (click)="showPrev()">Prev</button>
      <div class="image-container">
        <img
          class="dialog-img"
          [src]="images[currentIndex]"
          alt="Gallery Image"
        />
      </div>
      <button (click)="showNext()">Next</button>
    </div>
  </div>
</div>
