<div class="card-holder" fxLayout="row wrap" fxLayoutGap="20px">
  <div class="project-card">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div
        fxFlex="42%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let card of projectList"
      >
        <mat-card class="{{ card.class }}">
          <mat-card-header *ngIf="card.name">
            <mat-card-title
              class="{{ card.titleclass }}"
              routerLink="/{{ card.link }}"
              >{{ card.name }}</mat-card-title
            >

            <mat-card-subtitle routerLink="/{{ card.link }}">{{
              card.description
            }}</mat-card-subtitle>
          </mat-card-header>
          <img
            class="profile"
            mat-card-image
            src="{{ card.img }}"
            routerLink="/{{ card.link }}"
          />
          <div *ngIf="card.buttons1">
            <button mat-fab color="primary">
              <img
                class="profile"
                mat-card-image
                src="{{ card.buttons1 }}"
                routerLink="/{{ card.link }}"
              />
            </button>
            <button mat-fab color="primary">
              <img
                class="profile"
                mat-card-image
                src="{{ card.buttons2 }}"
                routerLink="/{{ card.link }}"
              />
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="project-card"></div>
</div>
