.hello-card {
  padding: 2%;
  height: 100%;
  /* background: linear-gradient(to top left, #fbe4d8, #854f5c); */
  background: linear-gradient(to top left, #fbe4d8, #959ac1);
}
.headshot-card {
}
.title {
  /*font-family: Georgia, Times New Roman, serif;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 38px;
  line-height: 1.2;
}

.subtitle {
  color: black;
  padding: 5%;
}
.card-holder {
  justify-content: center;
}
.project-card {
  padding-top: 10px;
  padding-left: 14%;
}
.project-card-holder {
  justify-content: center;
}

.clor-pralet {
  background-color: #fbe4d8;
  background-color: #854f5c;
  background-color: #522b5b;
}

.profile {
  width: 100%;
  background: linear-gradient(to top left, #fbe4d8, #959ac1);
  background-image: "./localAssets/CropIvo2.png";
}

.profilemain {
  height: 100%;
  background: linear-gradient(to top left, #fbe4d8, #959ac1);
}
