@font-face {
  font-family: "Kanit";
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/karla/Karla-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Karla-bold";
  src: url("/assets/fonts/karla/Karla-Bold.ttf") format("truetype");
}
.card-holder {
  justify-content: center;
  font-family: "Karla";
}

.img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
}

.butt-img {
  max-width: 100%;
  max-height: 100%;
}

.profile-pick {
  border-radius: 25px;
}

.discription {
  background: linear-gradient(to top left, #fbe4d8, #a1a5c0);
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
}

.introduction {
  padding-bottom: 10px;
}

.text-card {
  position: relative;
  padding: 2em;
  font-weight: 300;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: flex-end;
  left: 2em;
  bottom: 0;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.h-text {
  font-family: "Karla-bold";
  font-weight: 500;
  font-size: 3em;
  line-height: 1em;
  padding-bottom: 0.5em;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1em;
}

.contact-butt {
  background-color: #262626;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.25em 1em;
  font-size: 1.5em;
  font-family: "Kanit";
}

.fab-butt {
  width: 3em;
  height: 3em;
  display: grid;
  place-items: center;
}

.linkedIn {
  background-color: #0077b5;
}

.github {
  background-color: black;
}

.butt-color {
  background-color: white;
}

.dialog {
  font-family: "Karla";
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  font-family: "Karla";
}

.content {
}

.center {
  margin: auto;
  width: 85%;
  padding: 2em;
}

.dialog-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 25px;
}

.galary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steck-item {
  background-color: #262626;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.25em 1em;
  font-size: 1.5em;
}

.period {
  padding-top: 2em;
  padding-bottom: 2em;
}

.card-content {
  cursor: pointer;
}
