<div class="mainpage">
  <div
    class="container"
    fxLayout
    fxLayoutAlign="left"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div
      [routerLink]="['/fitfusion']"
      class="header logo fit-fusio"
      fxFlex="35%"
    >
      Fit Fusion
    </div>

    <button
      routerLink="/fitfusion/programs"
      class="border header item-2 nav-buttons"
      mat-button
    >
      Programs
    </button>

    <button
      routerLink="/fitfusion/programs"
      class="border header item-2 nav-buttons"
      mat-button
    >
      Trainers
    </button>
    <div fxFlex="35%" class="rr">
      <button mat-fab class="border item-2" color="prime" aria-label="Sight in">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="container"
    fxLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div fxFlex="86%" class="black-tint-img">
      <div fxFlex="100%" class="header item-black">
        <div class="motivatio">Workout Plans</div>
        <div class="bold-banner-text">
          Build the ideal body with the special plans from out trainers. <br />
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    fxLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div
      fxFlex="42%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let corse of corses"
    >
      <mat-card>
        <mat-card-header class="item-2">
          <mat-card-title routerLink="">{{ corse.name }}</mat-card-title>

          <mat-card-subtitle>Level: beginner</mat-card-subtitle>
        </mat-card-header>
        <img
          class="fitured-blog"
          mat-card-image
          src="{{ corse.exercises[0].exercise.ing }}"
        />
      </mat-card>
    </div>
  </div>
</div>
