---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Certifications"
  description="All of my certifications and achievements."
  pubDate={new Date("August 08 2021")}
  heroImage="blog/blog-placeholder-about.jpg"
>
  <h2>Certificate of Excellence TY Varna</h2>
  <p><img src="/certifications/cert-excellence-ty-varna.png" 
    alt="Certificate of Excellence from Technical University of Varna" /></p>
  </p>
  <h2>Scrum training and certification</h2>
  <p>
    <img src="/certifications/scrum-certification.png" 
    alt="Scrum training and certification" />
    <img src="/certifications/scrum-training.png" 
    alt="Scrum training and certification" />
  </p>
  <h2>Certification of participation in academic research</h2>
  <p>
    <img src="/certifications/academic-research-certification.png" 
    alt="Certification of participation in academic research" />
  </p>
    <h2>Certification of participation in academic hackaton as quaestor</h2>
  <p>
    <img src="/certifications/academic-hackaton-quaestor.png" 
    alt="Certification of participation in academic hackaton as quaestor" />
  </p>
  <h2>Certificate for completing a course in C++</h2>
  <img src="/certifications/c-plus-plus-course.jpg" 
    alt="Certificate for completing a course in C++" />
  <h2>Certificate for completing a course in SOUP API testing</h2>
  <img src="/certifications/soup-testing-course.jpg" 
    alt="Certificate for completing a course in SOUP API testing" />  
  
  <h2>Certificate for completing a course in Git Hub</h2>
  <img src="/certifications/git-hub-course.jpg" 
    alt="Certificate for completing a course in Git Hub" />
    <h2>Certificate for completing a course in Docker</h2>
  <img src="/certifications/docker-course.jpg" 
    alt="Certificate for completing a course in Docker" />
    </p>
</Layout>
